* {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
  }
  
  body, html {
    font-family: sans-serif;
    color: #444;
  }
  
  .container {
    margin-left: 470px; 
    margin-right: 370px; 
  }
  
  .sidebar {
    background-color: #bceaf1;
    width: 250px;
    position: fixed;
    top: 0;
    left: 190px; 
    bottom: 0;
    overflow: auto;
    padding: 20px; 
  }
  
  .main-header {
    background-color: #f7f7f7;
    padding: 20px 40px;
    width: calc(100% - 290px); /* Adjust the width to account for the sidebar and margins */
    margin-left: 270px; /* Align with the start of the container */
  }
  
  nav {
    font-size: 18px;
  }
  
  article {
    margin-bottom: 60px;
  }
  
  /* Heading styles */
  h1, h2, h3 {
    color: #1098ad;
  }
  
  h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
  }
  
  h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  
  h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  /* Paragraph styles */
  p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  /* Author and copyright styles */
  #author, #copyright {
    font-style: italic;
    font-size: 18px;
  }
  
  /* Link styles */
  a:link, a:visited {
    color: #1098ad;
    text-decoration: none;
  }
  
  a:active {
    background-color: black;
    font-style: italic;
  }
  
  /* Navigation link styles */
  nav a:link {
    margin-right: 30px;
    display: inline-block;
  }
  
  nav a:link:last-child {
    margin-right: 0;
  }
  
  /* Image styles */
  .post-img {
    width: 100%;
    height: auto;
  }
  
  /* First letter of h1 style */
  h1::first-letter {
    font-style: normal;
    margin-right: 5px;
  }
  
  